<?xml version='1.0'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="SampleApp" Language="1033" Version="1.0.0.0" Manufacturer="MyCompany" UpgradeCode="3cc427cc-2e65-4f69-8599-3203ac4db3d4">
    <Package InstallerVersion="200" InstallPrivileges="elevated" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="Project.cab" EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="DowngradeErrorMessage" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="OPTLOCATION" Name="opt">
          <Directory Id="PROJECTLOCATION" Name="sampleapp">
            <Component Id="MainExecutable" Guid="29d874e5-87b5-497b-bf91-e8c6eecf9e5b">
              <File Source="files/service.rb" KeyPath="yes" />
              <ServiceControl Id="ServiceControlTestService" Name="testservice" Stop="uninstall" Remove="uninstall" />
            </Component>
            <Component Id="RegisterScript" Guid="fab88be1-1ede-4bde-a6f0-e74dd122e915">
              <File Source="files/register.rb" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="REGISTRY_START_OLD">
        <RegistrySearch Id="RegistrySearchStart" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Type="raw" />
    </Property>
    <Property Id="REGISTRY_DELAYEDAUTOSTART_OLD">
        <RegistrySearch Id="RegistrySearchDelayedAutostart" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="DelayedAutostart" Type="raw" />
    </Property>
    <Property Id="REGISTRY_OPTION_OLD">
        <RegistrySearch Id="RegistrySearchOption" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Option" Type="raw" />
    </Property>

    <ComponentGroup Id="ProductComponents" Directory="PROJECTLOCATION">
      <!--
        CAUTION: We cannot use `integer` type for values being read by RegistrySearch. Use `string` instead.
        DETAIL: RegistrySearch reads a raw value and the value could have a prefix according to the data type.
        For example, integer (DWORD) value has a `#` prefix.
        If writing such a value (e.g., `#2`) by `RegistryValue` with `integer` type, it is forced to be recognized as `REG_SZ` type after all, and it breaks the service.
        We want to remove the prefix before `RegistryValue`, but it is hard to do with WiX.
        However, using `string` type can handle such raw values.
        For example, if writing `#2` by `RegistryValue` with `string` type, it is written as `2` with `REG_DWORD` type.
        (Though this is undocumented... https://wixtoolset.org/docs/v3/xsd/wix/registryvalue/)
        Thus, it is better to use `string` type to handle such raw values in this context because of no need to care about '#' prefix.
       -->

      <!-- Keep Start -->
      <Component Id="SetRegistryStartBoot" Guid="5759ebf0-a248-4e78-82be-9334421100b2">
        <Condition><![CDATA[REGISTRY_START_OLD<>""]]></Condition>
        <RegistryValue Id="RegistryValueStartBoot" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Value="[REGISTRY_START_OLD]" Type="string" KeyPath="yes" />
      </Component>

      <!-- Keep DelayedAutostart -->
      <Component Id="SetRegistryDelayedAutostart" Guid="8cb98306-8219-400f-b8b3-e5ffca828cd4">
        <Condition><![CDATA[REGISTRY_DELAYEDAUTOSTART_OLD<>""]]></Condition>
        <RegistryValue Id="RegistryDelayedAutostart" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="DelayedAutostart" Value="[REGISTRY_DELAYEDAUTOSTART_OLD]" Type="string" KeyPath="yes" />
      </Component>

      <!-- Keep Option -->
      <Component Id="SetRegistryOption" Guid="c94bc7e4-9cf2-4b8c-925f-e015958a94e9">
        <Condition><![CDATA[REGISTRY_OPTION_OLD<>""]]></Condition>
        <RegistryValue Id="RegistryValueOption" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Option" Value="[REGISTRY_OPTION_OLD]" Type="string" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="DefaultFeature" Level="1" Title="SampleApp" Absent="disallow" ConfigurableDirectory="PROJECTLOCATION">
      <ComponentRef Id="RegisterScript" />
      <ComponentRef Id="MainExecutable" />
    </Feature>

    <Feature Id="KeepRegistryFeature" Level="1" Title="Keep some registry values">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="PROJECTLOCATION" />
    <UIRef Id="ProjectUI_InstallDir"/>
    <UI Id="ProjectUI_InstallDir">
      <UIRef Id="WixUI_FeatureTree"/>
      <TextStyle Id="WixUI_Font_Normal_White" FaceName="Tahoma" Size="8" Red="255" Green="255" Blue="255" />
      <TextStyle Id="WixUI_Font_Bigger_White" FaceName="Tahoma" Size="12" Red="255" Green="255" Blue="255" />
      <TextStyle Id="WixUI_Font_Title_White" FaceName="Tahoma" Size="9" Bold="yes" Red="255" Green="255" Blue="255" />
    </UI>

    <Property Id="InstallService" Value=" "/>
    <CustomAction Id="SetInstallServiceCommand"
                  Property="InstallService"
                  Value="&quot;C:\Ruby32-x64\bin\ruby.exe&quot; &quot;[PROJECTLOCATION]register.rb&quot; '[PROJECTLOCATION]'"/>
    <CustomAction Id="InstallService"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec64"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="SetInstallServiceCommand" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="InstallService" After="SetInstallServiceCommand">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
