<?xml version='1.0'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="SampleApp" Language="1033" Version="1.0.0.0" Manufacturer="MyCompany" UpgradeCode="3cc427cc-2e65-4f69-8599-3203ac4db3d4">
    <Package InstallerVersion="200" InstallPrivileges="elevated" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="Project.cab" EmbedCab="yes" CompressionLevel="high" />
    <MajorUpgrade DowngradeErrorMessage="DowngradeErrorMessage" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="OPTLOCATION" Name="opt">
          <Directory Id="PROJECTLOCATION" Name="sampleapp">
            <Component Id="MainExecutable" Guid="29d874e5-87b5-497b-bf91-e8c6eecf9e5b">
              <File Source="files/service.rb" KeyPath="yes" />
              <ServiceControl Id="ServiceControlTestService" Name="testservice" Stop="uninstall" Remove="uninstall" />
            </Component>
            <Component Id="RegisterScript" Guid="fab88be1-1ede-4bde-a6f0-e74dd122e915">
              <File Source="files/register.rb" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Property Id="REGISTRY_START_OLD">
        <RegistrySearch Id="RegistrySearchStart" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Type="raw" />
    </Property>
    <Property Id="REGISTRY_DELAYEDAUTOSTART_OLD">
        <RegistrySearch Id="RegistrySearchDelayedAutostart" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="DelayedAutostart" Type="raw" />
    </Property>
    <Property Id="REGISTRY_OPTION_OLD">
        <RegistrySearch Id="RegistrySearchOption" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Option" Type="raw" />
    </Property>

    <ComponentGroup Id="ProductComponents" Directory="PROJECTLOCATION">
      <!-- Keep Start -->
      <Component Id="SetRegistryStartBoot" Guid="5759ebf0-a248-4e78-82be-9334421100b2">
        <Condition><![CDATA[REGISTRY_START_OLD="#0"]]></Condition>
        <RegistryValue Id="RegistryValueStartBoot" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Value="0" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="SetRegistryStartSystem" Guid="24ff3f6f-bf36-46d6-899e-ed83497a4a32">
        <Condition><![CDATA[REGISTRY_START_OLD="#1"]]></Condition>
        <RegistryValue Id="RegistryValueStartSystem" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Value="1" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="SetRegistryStartAutomatic" Guid="a2786a2d-1969-466a-91f3-aea32d193cab">
        <Condition><![CDATA[REGISTRY_START_OLD="#2"]]></Condition>
        <RegistryValue Id="RegistryValueStartAutomatic" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Value="2" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="SetRegistryStartDemand" Guid="f132040b-1126-4a2b-a9f5-224047f3d457">
        <Condition><![CDATA[REGISTRY_START_OLD="#3"]]></Condition>
        <RegistryValue Id="RegistryValueStartDemand" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Value="3" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="SetRegistryStartDisabled" Guid="048c744a-2f22-4e51-8203-a455a7009064">
        <Condition><![CDATA[REGISTRY_START_OLD="#4"]]></Condition>
        <RegistryValue Id="RegistryValueStartDisabled" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Start" Value="4" Type="integer" KeyPath="yes" />
      </Component>

      <!-- Keep DelayedAutostart -->
      <Component Id="SetRegistryDelayedAutostartDisabled" Guid="8cb98306-8219-400f-b8b3-e5ffca828cd4">
        <Condition><![CDATA[REGISTRY_DELAYEDAUTOSTART_OLD="#0"]]></Condition>
        <RegistryValue Id="RegistryValueDelayedAutostartDisabled" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="DelayedAutostart" Value="0" Type="integer" KeyPath="yes" />
      </Component>
      <Component Id="SetRegistryDelayedAutostartEnabled" Guid="d78dcd1d-bc11-47ba-b365-a9f81536defb">
        <Condition><![CDATA[REGISTRY_DELAYEDAUTOSTART_OLD="#1"]]></Condition>
        <RegistryValue Id="RegistryValueDelayedAutostartEnabled" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="DelayedAutostart" Value="1" Type="integer" KeyPath="yes" />
      </Component>

      <!-- Keep Option -->
      <Component Id="SetRegistryOption" Guid="c94bc7e4-9cf2-4b8c-925f-e015958a94e9">
        <Condition><![CDATA[REGISTRY_OPTION_OLD<>""]]></Condition>
        <RegistryValue Id="RegistryValueOption" Root="HKLM" Key="System\CurrentControlSet\Services\testservice" Name="Option" Value="[REGISTRY_OPTION_OLD]" Type="string" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="RegisterScript" />
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="SetRegistryStartBoot" />
      <ComponentRef Id="SetRegistryStartSystem" />
      <ComponentRef Id="SetRegistryStartAutomatic" />
      <ComponentRef Id="SetRegistryStartDemand" />
      <ComponentRef Id="SetRegistryStartDisabled" />
      <ComponentRef Id="SetRegistryDelayedAutostartDisabled" />
      <ComponentRef Id="SetRegistryDelayedAutostartEnabled" />
      <ComponentRef Id="SetRegistryOption" />
    </Feature>

    <Property Id="InstallService" Value=" "/>
    <CustomAction Id="SetInstallServiceCommand"
                  Property="InstallService"
                  Value="&quot;C:\Ruby32-x64\bin\ruby.exe&quot; &quot;[PROJECTLOCATION]register.rb&quot; '[PROJECTLOCATION]'"/>
    <CustomAction Id="InstallService"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec64"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="SetInstallServiceCommand" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="InstallService" After="SetInstallServiceCommand">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
